.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  min-height: 100vh;

  background-color: #000;

  box-sizing: border-box;
  overflow: hidden;
}

.buttonForm {
  width: 8rem;
  height: 6rem;

  border-radius: 0.75rem;

  text-transform: uppercase;
  font-weight: 600;

  transition: 0.3s;

  opacity: 100;

  margin-left: 5rem;

  cursor: pointer;
}

.buttonForm:hover {
  color: black;
  border: 2px solid rgba(255, 255, 255, 0);
}
