.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  min-height: 100vh;

  background-image: url("../../shared/images/fly.webp");
  background-size: cover;
  background-position: center;

  box-sizing: border-box;
  overflow: hidden;
}

.buttonForm {
  width: 8rem;
  height: 13rem;

  /* background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 2px solid rgba(255, 255, 255, 0); */

  border-radius: 0.75rem;

  text-transform: uppercase;
  font-weight: 600;

  transition: 0.3s;

  opacity: 100;

  margin-left: 5rem;

  cursor: pointer;
}

.buttonForm:hover {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 2px solid rgba(255, 255, 255, 0);
  /* cursor: url("../../shared/images/flySwatterPng.png") 16 16, pointer !important; */
}
